body {
  height: 100vh;
}
main {
  height: 90%;
}

.spell-list {
  max-height: 85vh;
  overflow-y: scroll;
}

.active-list {
  max-height: 85vh;
  overflow-y: scroll;
}
.my-list {
  max-height: 85vh;
  overflow-y: scroll;
}
